{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% if request.user.is_authenticated %}
  <div id="new-post">
    <div class="container mb-3">
      <textarea class="form-control" id="compose-body" name="post-body" 
        placeholder="What's on your mind?"></textarea>
      <input id="sendPost" type="submit" class="btn btn-primary" value="Post"/>
    </div>
  </div>
{% endif %}


<div id="posts-view" class="container">
  <!-- We need the form for creating the new post, as well as a list of posts. -->
</div>

<div id="pagination"></div>

<div id="profile-view">
</div>

{% if request.user.is_authenticated %}
  <script>
    const userID = {{ request.user.id }}
    console.log(`User ID: ${userID}`)
  </script>
{% else %}
  <script>
    const userID = -1;
    console.log(`User ID: ${userID}`);
  </script>
{% endif %}
<script>
  const profileID = null;
  const following = false;
</script>
{% block script %}
<script src="{% static 'network/index.js' %}"></script>
<script src="{% static 'network/postdisplay.js' %}"></script>
{% endblock %}
<script>
  displayPage(1);
  {% if request.user.is_authenticated %}
    document.addEventListener('DOMContentLoaded', () => {
      const btn = document.querySelector("#sendPost");
      btn.addEventListener("click", sendPost)
    });
  {% endif %}
</script>

{% endblock %}

