{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% if request.user.is_authenticated %}
  <div id="new-post">
    <div class="container">
      <textarea class="form-control" id="compose-body" name="post-body" 
        placeholder="What's on your mind?"></textarea>
      <input id="sendPost" type="submit" class="btn btn-primary" value="Post"/>
    </div>
  </div>
{% endif %}


<div id="posts-view" class="container">
  <!-- We need the form for creating the new post, as well as a list of posts. -->
</div>

<div id="pagination"></div>

<div id="profile-view">
</div>

{% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% endblock %}

