li a {
  color: blue;
}

.container.post {
  border: 1px solid grey;
}

#posts-view {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 10px;
}

#pagination {
  display: flex;
  flex-wrap: wrap;
}
